html {
	font-family: 'Rubik', sans-serif;
}

header {
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#title_t {
	margin-left: 3%;
	margin-right: 3%;
	/*background-color: #D39C4A;*/
	background-image: url(img/header1.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title_txt {
	border-radius: 10px;
	background-color: #FFFFFF;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-weight: 400;
}

#titlemood {
	font-size: 64px;
	margin: 20px;
	/*color: #FFBD59;*/
}

.photo {
	/*margin-left: 30%;
	margin-right: 30%;*/
	text-align: center;
}

.title_p {
	padding: 4px;
	font-size: 20px;
}

body {
	/*background-image: url('https://w-dog.ru/wallpapers/15/15/489265459879855.jpg');*/
	background-color: #7AACD1;
	background-size: 240%;
	margin: 0;
}

#gal {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.time {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 2px;
	font-size: 18px;
}

/*.title_p {
	font-size: 20px;
	background-color: rgba(29, 91, 146, 0.5);
	border-radius: 0 7px 7px 0;
	display: inline-block;
	margin-top: 5px;
	border: 1px;
	border-style: dotted;
	border-left: none;
}*/

.tit {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin-bottom: 7px;
	font-weight: 300;
}

.imgs {
	align-self: center;
	margin: 0;
	border-radius: 5px;
	width: -webkit-fill-available;
}

.post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.5);
	/*margin-left: 30%;
	margin-right: 30%;*/
	border-radius: 10px;
	overflow: hidden;
	align-self: center;
	padding: 7px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 550px;

}

.download_section {
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin-top: 2px;
}

.icon {
	width: 15%;
	background-color: #FFFFFF;
    border-radius: 10px;
}

.link_container {
    font-size: 24px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
	outline: none;
	text-decoration: none;
}


a:link {
	color: #FF0000;
}

a:visited {
	color: #DD0000;
}

a:focus {
	background: #FF00002C;
}

a:hover {
	background: #FF00002C;
	border-radius: 5px;
}

a:active {
}